<% title "A superior pairing app." %>

<div class="container text-center">
  <h1>Welcome to the Pairs App!</h1>
  <%= link_to "Sign Up", sign_up_path, class: "btn btn-primary sign-up-button" %>
</div>
