<div class="container">
  <h1 class='text-center'>Organizations</h1>
  <p class='lead text-center'>View existing organizations or <a href='#'>create</a> a new one.</p>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Panel title</h4>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
  </div>
</div>
